<div id="pageArea" ng-app="myApp" ng-init="thisSlide()">
  <div id="textArea">
      <h1>Artwork</h1>
      <div id="art">
          <img ng-src="{{currentSlide.image}}" width="400px">
          <div class="container" id="slideCaption">
            <div class="row">
              <div class="col-md-12 text-center">
                <h3> {{currentSlide.caption}} </h3>
              </div>
            </div>
          </div>
          <div class="container" id="carouselNav">
            <div class="row">
              <div class="col-md-12 text-center">
              <button type="button" class="btn btn-warning" name="prevButton" ng-click="prev()">Prev</button>
              <button type="button" class="btn btn-warning" name="nextButton" ng-click="next()">Next</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
