<div id="pageArea" ng-app="myApp" ng-init="thisSlide()">
  <div id="textArea">
      <h1>Artwork</h1>
      <div id="art">
          <img ng-src="{{currentSlide.image}}" width="400px">
          <div id = "slideCaption">
            {{currentSlide.caption}}
          </div>
          <div id="carouselNav">
            <button type="button" name="prevButton" ng-click="prev()">Prev</button>
            <button type="button" name="nextButton" ng-click="next()">Next</button>
          </div>
      </div>
  </div>
</div>
