<div id="pageArea">
  <div id="textArea">
      <h1>Characters</h1>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Simon-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>
  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Bum-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>
  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Jude-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>
  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Inside Man-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Vicodyn Jackson-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Mary-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Dixie-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Claude-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Nate-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Justin-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Jaffo-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Colby-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Matt-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Blake-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>

  <div id="character">
    <div id="portrait">
      <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
    </div>

    <h2>Minerva July-</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
  </div>





</div>
