<div id="pageArea">
  <div id="textArea">
      <h1>Glossary</h1>
  <div id= "word">
    <h2> Word 1: </h2>
  </div>
  <div id="definition">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus nibh sed tellus gravida euismod non vel sem. Aenean ut augue dapibus, pulvinar erat elementum, efficitur ex. Integer pretium cursus ex vel semper. Donec eget arcu risus. Sed porttitor mattis diam non convallis. Donec in lorem risus. Maecenas maximus varius commodo.</p>
  </div>
  <div id= "word">
    <h2> Word 2: </h2>
  </div>
  <div id="definition">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus nibh sed tellus gravida euismod non vel sem. Aenean ut augue dapibus, pulvinar erat elementum, efficitur ex. Integer pretium cursus ex vel semper. Donec eget arcu risus. Sed porttitor mattis diam non convallis. Donec in lorem risus. Maecenas maximus varius commodo.</p>
  </div>
  <div id= "word">
    <h2> Word 3:</h2>
  </div>
  <div id="definition">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus nibh sed tellus gravida euismod non vel sem. Aenean ut augue dapibus, pulvinar erat elementum, efficitur ex. Integer pretium cursus ex vel semper. Donec eget arcu risus. Sed porttitor mattis diam non convallis. Donec in lorem risus. Maecenas maximus varius commodo.</p>
  </div>
  <div id= "word">
    <h2> Word 4: </h2>
  </div>
  <div id="definition">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus nibh sed tellus gravida euismod non vel sem. Aenean ut augue dapibus, pulvinar erat elementum, efficitur ex. Integer pretium cursus ex vel semper. Donec eget arcu risus. Sed porttitor mattis diam non convallis. Donec in lorem risus. Maecenas maximus varius commodo.</p>
  </div>

</div>
</div>
