<div id="pageArea">
  <div id="textArea">

  <h1>This is Us.</h1>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Claude Culotta-</h2>
  <h3>Writer, Founder</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Colby Swanson-</h2>
  <h3>Illustrator, Writer, Color, Ink</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Nate Shroud-</h2>
  <h3>Writer</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Margaret Culotta-</h2>
  <h3>Color, Layout Issues #001 - #004</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Jesse Hedman</h2>
  <h3>Color Issue #005, Advertisement Illustration and Color Issue #004</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Mona Negasi-</h2>
  <h3>Cover and Advertisement Illustration and Color Issues #001, #002 and #003</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Rachael Guertin-</h2>
  <h3>Text Issues #001 and #002</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>


<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Maxwell Singletary-</h2>
  <h3>Advertisement Illustration and Color Issues #001 and #002</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Christopher Nolt-</h2>
  <h3>Advertisement Illustration and Color Issue #003</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

<div id="collaborator">
  <div id="portrait">
    <img src="/images/profile-placeholder.png" alt="portrait" height="150px"/>
  </div>

  <h2>Lauren Fechner-</h2>
  <h3>Ink Issue #005</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo turpis, id scelerisque urna pretium quis. Nam purus nunc, hendrerit in cursus et, finibus mattis nulla. Cras euismod, ante et pharetra pulvinar, felis massa convallis velit, vel ultrices ligula mauris a diam. Donec viverra, purus at rutrum ultricies, orci ex dictum nisi, sed bibendum ligula lacus accumsan tortor. Cras ultrices porta ipsum, vitae tempor tellus sagittis eu. Ut vel eros massa. Quisque vulputate viverra sollicitudin.</p>
</div>

</div>
</div>
