header{
  position: fixed;
  background: #756142;
  padding: 5px;
  height: 120px;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.45);
  z-index: 1000;
}
body{
  background-color: #2B2118;
}
footer{
  text-align: center;
  margin-bottom: 20px;
}
a:link{
  color: #6F1A07;
}
#name{
  font-family: 'Ruslan Display', cursive;
  color: #6F1A07;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 20px;
}
#nav{
  float: right;
  margin-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #6F1A07;
  font-size: 20px;
}
#pageArea{
  margin-top: 110px;
  /*padding: 30px;*/
}
#textArea{
  padding: 20px;
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.45);
  margin: 35px;
  background-color: #F7F3E3;
  font-family: 'Source Sans Pro', sans-serif;

}
#textArea h1{
  font-size: 30px;
}
#textArea p{
  font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EFEBDC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-right: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-right: 50px;
}
