header{
  position: fixed;
  background: #054A91;
  padding: 5px;
  height: 120px;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.45);
  z-index: 1000;
}
body{
  background-color: #3E7CB1;
}
footer{
  text-align: center;
  margin-bottom: 20px;
}
a:link{
  color: #DBE4EE;
}
#name{
  font-family: 'Ruslan Display', cursive;
  color: #F17300;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 20px;
}
#nav{
  float: right;
  margin-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #DBE4EE;
  font-size: 20px;
}
#pageArea{
  margin-top: 120px;
  /*padding: 30px;*/
}
#textArea{
  padding: 30px;
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.45);
  margin: 35px;
  background-color: #F7F3E3;
  font-family: 'Source Sans Pro', sans-serif;

}
#textArea h1{
  font-size: 50px;
  text-align: center;
  margin: 40px;
  text-shadow: 2px 2px 2px #808080;
}
#textArea h2{
  font-size: 25px;
}
#textArea h3{
  font-size: 20px;
}
#textArea p{
  font-size: 15px;
}
#collaborator{
  border-style: groove;
  border-width: thin;
  padding: 10px;
  margin: 10px;
}
#art img{
  display: block;
  margin-left: auto;
  margin-right: auto
}
#wtfa{
  font-family: 'Special Elite', cursive;
  padding: 10px;
}
#caption{
  padding: 50px;
}
#word{
  color: #F17300;
  text-decoration: underline;
}
#definition{

}
#slideCaption{
  display: block;
  margin-left: auto;
  margin-right: auto
}
#carouselNav{
  display: block;
  margin-left: auto;
  margin-right: auto
}
#character{
  padding: 20px;
  border-style: solid;
  border-color: #F17300;
  margin: 5px;  
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #81A4CD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-right: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-right: 50px;
}
